# Environment variables / secrets
backend/.env

# Python
**/__pycache__/
*.py[cod]
backend/.venv/
backend/venv/
*.egg-info/

# Project runtime data
backend/data/uploads/*
backend/data/frames/*
backend/data/audio/*
backend/data/outputs/*
!backend/data/uploads/.gitkeep
!backend/data/frames/.gitkeep
!backend/data/audio/.gitkeep
!backend/data/outputs/.gitkeep

# OS/editor junk
.DS_Store
.vscode/
.idea/

## node modules
node_modules/
frontend/node_modules/

# Notes
notes.md